#mynav li a{ 
color:white;

}
#mynav  :hover {
    
    color:#A9A9A9;
	
}
.field label {
  display: none;
}
.field label {
  display: none;
}
.field input:focus ~ label,
.field input:valid ~ label {
  display: block;
}

